.table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody td {
    vertical-align: middle;
    text-align: center;
}

.btn-group .btn {
    margin-right: 5px;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-top: 2000px;
}

.pagination .page-item .page-link {
    border-radius: 40%;
    padding: 10px 15px;
    color: #000;
    border: 1px solid #ddd;
    margin: 0 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-item.active .page-link {
    background-color: #2e3152;
    color: white;
    border-color: #2e3152;
}



.pagination .page-item.disabled .page-link {
    background-color: transparent;
    border: none;
    color: #6c757d;
    pointer-events: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 10%;
    padding: 10px 15px;
    border: 1px solid #ddd;
}

.pagination .page-item .page-link.ellipsis {
    color: #6c757d;
    border: none;
    background-color: transparent;
}