/* .notification-container {
    position: fixed;
    right: 0;
    top: 20px;
    width: 30%;
    z-index: 9999;
}

.notification-alert {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    animation: slideInRight 0.5s forwards;
}

.notification-alert.remove-animation {
    animation: slideOutRight 0.5s forwards;
}

.notification-alert:hover {
    transform: scale(1.05);
}

.mark-as-read-button {
    background: linear-gradient(45deg, #28a745, #218838);
    border: none;
    transition: transform 0.2s ease-in-out;
}

.mark-as-read-button:hover {
    transform: scale(1.1);
}

.mark-as-read-button i {
    margin-right: 5px;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
opacity: 0;
}

to {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
opacity: 1;
}

to {
    transform: translateX(100%);
opacity: 0;
}
}

*/





.notification-container {
    position: fixed;
    right: 0;
    top: 20px;
    width: 30%;
    z-index: 9999;
    display: none;
    /* إخفاء الإشعارات عند تحميل الصفحة */
}

/* إشعار بداية الحركة */
.notification-alert {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    animation: slideInRight 0.5s forwards;
    /* حركة دخول */
}

.notification-alert.remove-animation {
    animation: slideOutRight 0.5s forwards;
    /* حركة خروج */
}

.notification-alert:hover {
    transform: scale(1.05);
}

.mark-as-read-button {
    background: linear-gradient(45deg, #28a745, #218838);
    border: none;
    transition: transform 0.2s ease-in-out;
}

.mark-as-read-button:hover {
    transform: scale(1.1);
}

.mark-as-read-button i {
    margin-right: 5px;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}